html,
body {
  font-family: Menlo, Courier, 'Courier New', monospace;
  font-size: 10px;
  //height: 80px;
  //width: 210px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.colorScreen {
  width: 35px;
  height: 35px;
  transition: .05s ease background-color;
  float: left;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.1);
  margin-right: 10px;
}


.row {
  display: block;
  margin-bottom: 2px;
}

.key {
  display: inline-block;
  text-transform: uppercase;
}

.value {
  display: inline-block;
  text-transform: uppercase;
}

.colorCodes {
  float: left;
}

.videoSources {
  display: none;
}
